@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    @apply font-sans bg-black;
}

input {
    @apply border rounded px-6 py-3;
    background-color: #464646;
    border-color: #464646;
}
input:focus {
    @apply border-primary-500;
    background-color: #1C1C1C;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-coinbase:before {
    content: "\e900";
}
.icon-ledger:before {
    content: "\e901";
}
.icon-metamask:before {
    content: "\e902";
}
.icon-portis:before {
    content: "\e903";
}
.icon-trezor:before {
    content: "\e904";
}